absl-py==1.4.0
aiofiles==23.1.0
aiohttp==3.8.4
aioredis==1.3.1
aiosignal==1.3.1
altair==4.2.2
amqp==5.1.
appdirs==1.4.4
asgiref==3.6.0
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
autobahn==23.6.1
backports.weakref==1.0.post1
billiard==3.6.4.0
blinker==1.6.2
branca==0.6.0
brotlipy==0.7.0
cachetools==5.3.0
celery==5.2.7
channels==3.0.5
channels-redis==3.4.0
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clyent==1.2.2
conda==23.3.1
conda-build==3.23.3
conda-repo-cli==1.0.27
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
daal4py==2023.0.2
daphne==3.0.2
datashape==0.5.4
dj-database-url==0.5.0
Django==3.2.19
django-cors-headers==4.0.0
django-filter==23.2
django-redis==5.2.0
djangorestframework==3.14.0
et-xmlfile==1.1.0
fastapi==0.95.1
ffmpy==0.3.0
flatbuffers==23.3.3
folium==0.14.0
fonttools==4.25.0
frozenlist==1.3.3
gast==0.4.0
geojson==3.0.1
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gradio==3.27.0
gradio_client==0.1.3
grpcio==1.54.0
h11==0.14.0
hiredis==2.2.3
httpcore==0.17.0
httpx==0.24.0
huggingface-hub==0.14.1
inflection==0.5.1
jax==0.4.8
jsonpointer==2.1
keras==2.12.0
kombu==5.3.0
libclang==16.0.0
linkify-it-py==2.0.0
llvmlite==0.39.1
markdown-it-py==2.2.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
mkl-fft==1.3.1
mkl-service==2.4.0
ml-dtypes==0.1.0
mpmath==1.2.1
multidict==6.0.4
munkres==1.1.4
mypy-extensions==0.4.3
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.33
mysqlclient==2.1.1
navigator-updater==0.3.0
oauthlib==3.2.2
opencv-python==4.7.0.72
openpyxl==3.0.10
opt-einsum==3.3.0
orjson==3.8.10
patsy==0.5.3
pep8==1.7.1
Pillow==9.4.0
ply==3.11
protobuf==3.20.3
psycopg2==2.9.6
psycopg2-binary==2.9.3
pyarrow==12.0.0
pyasn1-modules==0.2.8
pycurl==7.45.1
pydantic==1.10.7
pydeck==0.8.1b0
PyDispatcher==2.0.5
pydub==0.25.1
Pygments==2.15.1
pyls-spyder==0.4.0
Pympler==1.0.1
PyQt5==5.15.7
PyQtWebEngine==5.15.4
pytest==7.1.2
python-lsp-jsonrpc==1.0.0
python-multipart==0.0.6
pytz-deprecation-shim==0.1.0.post0
pywin32==305.1
QtPy @ file:///C:/ci/qtpy_1662015130233/work
queuelib==1.5.0
redis==4.4.4
requests==2.28.0
requests-oauthlib==1.3.1
rich==13.3.5
rsa==4.9
scikit-learn-intelex==20230228.214818
scipy==1.10.0
semantic-version==2.10.0
smmap==5.0.0
sqlparse==0.4.4
starlette==0.26.1
streamlit==1.22.0
tables==3.7.0
TBB==0.2
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
torch==1.12.1
txaio==23.1.1
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.1
uvicorn==0.21.1
validators==0.20.0
vine==5.0.0
webencodings==0.5.1
websockets==11.0.2
whitenoise==6.2.0
wincertstore==0.2
xlrd==2.0.1
yarl==1.9.2
zict==2.1.0
zope.interface @ file:///C:/ci_310/zope.interface_1642113633904/work
zstandard==0.19.0
