{% extends 'base.html' %}
{% load static %}

{% block title %}
jvectormap
{% endblock  %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h1>map on number of institutions offering degrees on the subject</h1>
      <div class="card "id="world-map" style="width: 1000px; height: 800px"></div>
      <a href="{% static 'data.xlsx'%}" download>xlsx</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1>map on number of institutions offering degrees on the subject</h1>
      <div class="card "id="airpollution" style="width: 1000px; height: 800px"></div>
      <a href="{% static 'global air pollution dataset.csv'%}" download>xlsx</a>
    </div>
  </div>
{% endblock %}

<script>

    
</script>

{% block scripts %}
<script src="{% static 'main.js'%}"></script>
{% endblock %}